@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

* .all {
  overflow: hidden;
}

* .all .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

* .all .flex .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .all .flex .container .browse h2 {
  border: 1px solid #ddd;
  font-size: .9375rem;
  color: #222529;
  background: #f5f5f5;
  padding: 14px 28px;
  font-weight: 900;
  text-transform: uppercase;
}

* .all .flex .container .browse ul {
  padding: 0;
  border: 1px solid #ddd;
  list-style: none;
}

* .all .flex .container .browse ul #first-li {
  border: none;
}

* .all .flex .container .browse ul li {
  border-top: 1px solid #ddd;
  padding: 14px 12px 14px 28px;
  cursor: pointer;
}

* .all .flex .container .browse ul li:hover {
  background-color: #0b5ed7;
}

* .all .flex .container .browse ul li:hover a {
  color: white;
}

* .all .flex .container .browse ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

* .all .flex .container .card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .all .flex .container .card-flex .card-flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .all .flex .container .card-flex .card-flex-container .row {
  margin-top: 0;
}

* .header .container .navbar {
  background-color: white !important;
  padding: 1.3rem 0;
}

* .header .container .navbar .container-fluid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

* .header .container .navbar .container-fluid .navbar-brand img {
  width: 100%;
}

* .header .container .navbar .container-fluid .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* .header .container .navbar .container-fluid form {
  margin-right: 70px;
}

* .header .container .navbar .container-fluid form input {
  width: 400px;
  background: #f7f7f7;
  border: none;
  border-right: 1px solid #e7e7e7;
  border-radius: 20px 0 0 20px;
  margin-right: 0 !important;
}

* .header .container .navbar .container-fluid form input::-webkit-input-placeholder {
  font-size: .8125rem;
  color: #8d8d8d;
  padding: 0 15px 0 20px;
}

* .header .container .navbar .container-fluid form input:-ms-input-placeholder {
  font-size: .8125rem;
  color: #8d8d8d;
  padding: 0 15px 0 20px;
}

* .header .container .navbar .container-fluid form input::-ms-input-placeholder {
  font-size: .8125rem;
  color: #8d8d8d;
  padding: 0 15px 0 20px;
}

* .header .container .navbar .container-fluid form input::placeholder {
  font-size: .8125rem;
  color: #8d8d8d;
  padding: 0 15px 0 20px;
}

* .header .container .navbar .container-fluid form .nav-item {
  list-style: none;
  border-right: 1px solid #e7e7e7;
  background: #f7f7f7;
  padding: 0 15px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .header .container .navbar .container-fluid form .nav-item .dropdown-menu {
  min-width: 8rem;
  padding: 10px 15px;
  background: #f7f7f7;
}

* .header .container .navbar .container-fluid form .nav-item .dropdown-menu li {
  padding: 7px 0;
}

* .header .container .navbar .container-fluid form .nav-item a {
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: .8125rem;
  padding: 0;
}

* .header .container .navbar .container-fluid form button {
  background: #f7f7f7;
  color: #606669;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 0 20px 20px 0;
}

* .header .container .navbar .container-fluid .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  margin-right: 70px;
}

* .header .container .navbar .container-fluid .call .call-icon {
  font-size: 23px;
}

* .header .container .navbar .container-fluid .call .call-text h3 {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  color: #777777;
}

* .header .container .navbar .container-fluid .call .call-text p {
  font-weight: 700;
  font-size: 18px;
  line-height: .9;
  color: #222529;
  margin: 0;
}

* .header .container .navbar .container-fluid .navbar-nav li a {
  font-size: 25px;
  color: black;
}

* .header .three-section {
  width: 100%;
}

* .header .three-section .container {
  width: 100%;
  border: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .header .three-section .container .three {
  margin: .75rem 0;
  padding: .75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #e7e7e7;
}

* .header .three-section .container .three .three-icon {
  color: #222529;
  font-size: 35px;
  margin-right: .5rem;
}

* .header .three-section .container .three .three-text h3 {
  font-weight: 700;
  font-size: 14px;
  color: #222529;
  margin: 0;
}

* .header .three-section .container .three .three-text p {
  font-weight: 300;
  font-size: 13px;
  color: #777;
  margin: 0;
}

* .header .three-section .container #three {
  border: none;
}

* .py-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .py-4 .hepsi {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .py-4 .hepsi .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .py-4 .hepsi .items .trio {
  padding: 20px 0;
}

* .py-4 .hepsi .items .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  border: 2px solid #e7e7e7;
}

* .py-4 .hepsi .items .order h3 {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 2em;
  padding-left: .5rem;
  color: black;
}

* .py-4 .hepsi .items .order h4 {
  font-size: 14px;
  font-weight: 700;
  padding-left: .5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

* .py-4 .hepsi .items h2 {
  color: #222529;
  font-size: 1.25rem;
  font-weight: 700;
}

* .py-4 .hepsi .items h5 {
  font-size: 1.125rem;
  color: #444;
  font-weight: 600;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

* .py-4 .hepsi .items .d-flex tbody tr .td-item-name {
  font-weight: 600;
}

* .py-4 .hepsi .items .d-flex tbody tr .td-item-price {
  color: #13653f;
}

* .py-4 .hepsi .items .d-flex tbody tr .item-quantity {
  font-weight: 500;
  color: #6b5b5bbd;
  padding: 0 10px;
}

* .py-4 .hepsi .items .d-flex tbody tr td .btn-danger {
  background-color: transparent;
  color: #dc3545;
}

* .py-4 .hepsi .items .d-flex tbody tr td .btn-success {
  background-color: transparent;
  color: #13653f;
}

* .py-4 .hepsi .total-price {
  margin: 25px 0;
  border-bottom: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

* .py-4 .hepsi .total-price h1 {
  font-size: 1.1rem;
  color: #222529;
  font-weight: 600;
  padding: 9px 0;
}

* .py-4 .hepsi .total-price h1 span {
  color: #bb2d3b;
}

* .row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .row .card {
  border: none;
}

* .row .card .card-image {
  width: 100%;
  height: 225px;
  position: relative;
}

* .row .card .card-image h3 {
  position: absolute;
  z-index: 5;
  font-size: 10px;
  top: 10px;
  left: 10px;
  color: white;
  padding: 3px 11px;
  background-color: green;
}

* .row .card .card-image .card-img-top {
  width: 100%;
  height: 100%;
  position: absolute;
}

* .row .card .card-image .image-info {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* .row .card .card-image .image-info button {
  width: 100%;
  border-radius: 0;
  opacity: .85;
  padding: .7em 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

* .row .card .card-image .image-info button:hover {
  opacity: 1;
}

* .row .card .card-body {
  padding: 1rem 0;
}

* .row .card .card-body .card-title {
  color: #222529;
  font-size: .9375rem;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}

* .row .card .card-body .card-title:hover {
  color: #0b5ed7;
}

* .row .card .card-body .card-rating {
  width: 6em;
  margin: 0;
}

* .row .card .card-body .card-rating span {
  width: 17px !important;
  height: 17px !important;
}

* .row .card .card-body .card-price {
  font-size: 1.125rem;
  color: #444;
  font-weight: 600;
}

* .row .card:hover .image-info {
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .navbar .container-fluid form {
    margin-top: 30px;
  }
  .navbar .container-fluid form input {
    width: 270px !important;
  }
  .navbar .container-fluid .call {
    margin: 30px 0;
  }
  .navbar .container-fluid .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .container-fluid .navbar-nav li {
    padding-right: 27px;
  }
  .three-section {
    padding: 0 15px;
  }
  .three-section .three {
    border-right: none !important;
    border-bottom: 1px solid #e7e7e7;
  }
}

@media only screen and (max-width: 1400px) {
  form input {
    width: 200px !important;
  }
}

@media only screen and (max-width: 1025px) {
  .order table tr .td-btn .btn-success {
    margin-left: 12px !important;
    margin-bottom: 7px;
  }
}
/*# sourceMappingURL=style.css.map */